{% set labels = form['#field-labels'] %}
{% set form_key = form_name %}
{% set basic, advanced = {{ 'Basic'|t }},{{ 'Advanced'|t }} %}
{% for form_key in basic, advanced  %}
    <table>
        <tr>
            <th colspan="2">
                {% set '!type' = form_name %}
                {{ '!type form label overrides'|t, '!type'|t }}</th>
            <th>{{ 'Title display'|t }}</th>
        </tr>
        {% set key = titles %}
        {% for key in labels %}
            {% set has_title_display =  {% if form.title-dispaly.key is not null %}{% endif %} %}
            <tr>
                <td style= "vertical-align: top;">
                    <label for = " {{ form.labels.key['#id'] }}">{{ lables.key[0] }} </label>
                    <em>{{ labels.key[1] }}</em>
                </td>
                <td style="vertical-align: top" {{ has_title_display ? '' : ' colspan="2"' }} >{{ drupal_render(form.labels.key) }}</td>
                {% if has_title_display %}<td>{{ drupal_render(form.title_display.key) }}</td>{% endif %}
            </tr>
        {% endfor %}
    </table>
{% endfor %}
